.container{
    width: 100%;
    height: auto;
}
.panelClima{
    width: auto;
}
.panelesAlertas{
    width: auto;

}

body{
    background-image: url("../images/huellas.jpg");
    background-size:100vh 100vh;
}