
#mapid { 
    width: 100%;
    height: 500px;
    box-shadow: 5px 5px 5px #888;
    margin-bottom:50px;
}

button{
    background-color: dodgerblue;
}

.barraMapa{
    position: static;
    height: 60vh;
    width: 60vh;
}

.container{
    width: 100%;
    height: auto;
}

body{
    background-image: url("../images/huellas.jpg");
    background-size:100vh 100vh;
}