
.container {
    width: 100%;
    min-height: calc(100vh - 142px);
}

.fondoIndex{
    background-image: url("../images/huellas.jpg");
    background-size:100vh 100vh;
}

.sobreNosotros{
    text-align: center;
    font-size: 25px;
}

img{
    margin-top:30px;
    margin-bottom: 100px;
}