body{
    background-image: url("../images/imagenLogin.jpg");
    background-size:100% 100%;
}
h2{
    text-align: center;
    font-size: 24px;
    width:190px;
    text-shadow: 0px 1px 0px grey;
}

div.container{
    width: 500px;
    height: auto;
    margin:auto;
    margin-left:50px;
    position:relative;
}

div.main{
    width: 600px;
    margin-top: 80px;
    float:left;
    padding: 10px 55px 40px;
    background-color: dodgerblue;
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    height : auto
}

div.main h3 {
    text-align: left;
}

input[type=text],[type=tel],[type=email] {
    width: 50%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px #fff;
    border: 2px solid #fff;
    font-size: 16px;
}

label{
    color: #fff;
    text-shadow: 0 1px 0 grey;
    font-size: 14px;
    font-weight: bold;
}

button {
    width: 100%;
    background: dodgerblue;
    box-shadow: 0 0 5px #fff;
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-shadow: 0px 1px 0px grey;
}

button a{
    text-decoration: none;
    color: white;
}

button:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}